<div class="lg:flex lg:flex-shrink-0">
    <div class="flex flex-col w-64">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
          <nav class="flex-1 px-2 space-y-8 bg-white" aria-label="Sidebar">
            <div>
              <%= link_to platform_settings_path do %>
              <h2 class="text-gray-800 flex items-center px-2 text-lg font-medium rounded-md">
                <%= settings_o_icon %>
                Settings</h2>
              <% end %>
            </div>
            <div>
              <h3 class="px-2 text-sm font-semibold text-gray-500 uppercase tracking-wider" id="projects-headline">Basic</h3>
              <div class="space-y-1" role="group" aria-labelledby="projects-headline">
                <%= render "platform_settings/menu_item", path: platform_settings_accounting_periods_path, title: "Accounting Periods" %>
                <%= render "platform_settings/menu_item", path: platform_settings_actions_path, title: "Actions" %>
                <%= render "platform_settings/menu_item", path: platform_settings_business_types_path, title: "Business Types" %>

                <%= render "platform_settings/menu_item", path: platform_settings_contact_types_path, title: "Contact Types" %>
                <%= render "platform_settings/menu_item", path: platform_settings_container_statuses_path, title: "Container Status" %>
                <%= render "platform_settings/menu_item", path: platform_settings_container_types_path, title: "Container Types" %>
                <%= render "platform_settings/menu_item", path: platform_settings_contract_statuses_path, title: "Contract Statuses" %>
                <%= render "platform_settings/menu_item", path: platform_settings_currencies_path, title: "Currencies" %>
                <%= render "platform_settings/menu_item", path: platform_settings_customer_site_states_path, title: "Customer Site States" %>
                <%= render "platform_settings/menu_item", path: platform_settings_customer_states_path, title: "Customer States" %>
                <%= render "platform_settings/menu_item", path: platform_settings_customer_templates_path, title: "Customer Templates" %>
                <%= render "platform_settings/menu_item", path: platform_settings_customer_types_path, title: "Customer Types" %>
                <%= render "platform_settings/menu_item", path: platform_settings_day_of_weeks_path, title: "Day Of Weeks" %>
                <%= render "platform_settings/menu_item", path: platform_settings_departments_path, title: "Departments" %>
                <%= render "platform_settings/menu_item", path: platform_settings_direct_debit_run_configurations_path, title: "DD Runs" %>
                <%= render "platform_settings/menu_item", path: platform_settings_document_delivery_types_path, title: "Document Delivery Types" %>
                <%= render "platform_settings/menu_item", path: platform_settings_invoice_cycles_path, title: "Invoice Cycles" %>
                <%= render "platform_settings/menu_item", path: platform_settings_invoice_frequencies_path, title: "Invoice Frequencies" %>
                <%= render "platform_settings/menu_item", path: platform_settings_materials_path, title: "Materials" %>
                <%= render "platform_settings/menu_item", path: platform_settings_payment_points_path, title: "Payment Points" %>
                <%= render "platform_settings/menu_item", path: platform_settings_payment_terms_path, title: "Payment Terms" %>
                <%= render "platform_settings/menu_item", path: platform_settings_payment_types_path, title: "Payment Types" %>
                <%= render "platform_settings/menu_item", path: platform_settings_pickup_intervals_path, title: "Pickup Intervals" %>
                <%= render "platform_settings/menu_item", path: platform_settings_priorities_path, title: "Priorites" %>
                <%= render "platform_settings/menu_item", path: platform_settings_services_path, title: "Services" %>
                <%= render "platform_settings/menu_item", path: platform_settings_sic_codes_path, title: "SIC Codes" %>                
                <%= render "platform_settings/menu_item", path: platform_settings_vats_path, title: "VATs" %>
                <%= render "platform_settings/menu_item", path: platform_settings_vehicle_types_path, title: "Vehicle Types" %>                
                <%= render "platform_settings/menu_item", path: platform_settings_weighing_types_path, title: "Weighing Types" %>
                <%= render "platform_settings/menu_item", path: platform_settings_zones_path, title: "Zones" %>                
              </div>
              <h3 class="pt-2 px-2 text-sm font-semibold text-gray-500 uppercase tracking-wider" id="finance-headline">Advanced</h3>
              <div class="space-y-1" role="group" aria-labelledby="projects-headline">
                  <%= render "platform_settings/menu_item", path: platform_settings_company_outlets_path, title: "Company Outlets" %>
                  <%= render "platform_settings/menu_item", path: platform_settings_default_actions_path, title: "Default Actions" %>                  
                  <%= render "platform_settings/menu_item", path: platform_settings_external_vehicles_path, title: "External Vehicles" %>
                  <%= render "platform_settings/menu_item", path: platform_settings_route_templates_path, title: "Route Templates" %>
                  <%= render "platform_settings/menu_item", path: platform_settings_schedules_path, title: "Schedules" %>                  
                  <%= render "platform_settings/menu_item", path: platform_settings_service_agreements_path, title: "Service Agreements" %>
                  <%= render "platform_settings/menu_item", path: platform_settings_vehicles_path, title: "Vehicles" %>                  
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>