<table class="min-w-full divide-y divide-gray-300">
  <thead class="bg-gray-50">
    <tr>
      <%= render "shared/table/sort_table_header", query: @query, column: "description", current_sort: current_sort %>   
      <%= render "shared/table/sort_table_header", query: @query, column: "guid", current_sort: current_sort %> 
      <%= render "shared/table/sort_table_header", query: @query, column: "related_customer_guid", current_sort: current_sort %>                      
      <th scope="col" colspan="2" class="relative pb-1 pt-2.5 pl-3 pr-4 sm:pr-6">
        <span class="sr-only">Show</span>
      </th>
    </tr>
    <tr>
      <%= render "shared/table/search_table_header", form: form, search_field: "description_cont" %> 
      <%= render "shared/table/search_table_header", form: form, search_field: "guid_eq" %>   
      <%= render "shared/table/search_table_header", form: form, search_field: "related_customer_guid_eq" %>                
      <th scope="col" colspan="2" class="relative pb-1 pt-2.5 pl-3 pr-4 sm:pr-6">
        <span class="sr-only">Show</span>
      </th>
    </tr>    
  </thead>

  <tbody class="divide-y divide-gray-200 bg-white">
    <% @platform_service_agreements.each do |platform_service_agreement| %>
      <%= render "platform_service_agreement", platform_service_agreement: platform_service_agreement %>
    <% end %>
  </tbody>
</table>
