<%= content_tag :tr, id: dom_id(platform_post) do %>
  <%= render "shared/table/table_data_cell", data: platform_post.class_name %>
  <%= render "shared/table/table_data_cell", data: platform_post.position %>
  <%= render "shared/table/table_data_cell", data: platform_post.last_request %>    
  <%= render "shared/table/table_data_cell", data: platform_post.last_response_code %>
  <%= render "shared/table/table_data_cell", data: platform_post.rows %>
  <td>
    <%= link_to "Post", post_to_platform_platform_post_path(platform_post), class: "pr-1 pl-1 rounded-lg bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </td> 
<% end %>