

<%= turbo_frame_tag "items" do %>
  <div class="my-2 ml-3">
    <%= link_to "Download routeman import file", platform_account_customer_order_items_path(@platform_customer, format: :dat), class: "text-blue-600" %> 
  </div>
  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr>
        <%= render "shared/table/static_table_header", title: "Order Number" %>
        <%= render "shared/table/static_table_header", title: "Site Name" %>        
        <%= render "shared/table/static_table_header", title: "Container Type" %>               
        <%= render "shared/table/static_table_header", title: "Material" %>    
        <%= render "shared/table/static_table_header", title: "Container Status" %>            
        <%= render "shared/table/static_table_header", title: "Tag" %>
        <%= render "shared/table/static_table_header", title: "Guid" %>
        <th></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
     <% @platform_order_items.each do |platform_order_item| %>
      <tr>
        <%= render "shared/table/table_data_cell", data: platform_order_item.platform_order.order_number %>
        <%= render "shared/table/table_data_cell", data: platform_order_item.platform_order.platform_customer_site.name %> 
        <%= render "shared/table/table_data_cell", data: platform_order_item.platform_container_type&.description %>            
        <%= render "shared/table/table_data_cell", data: platform_order_item.platform_order.platform_material&.description %>
        <%= render "shared/table/table_data_cell", data: platform_order_item.platform_container_status&.description %>                 
        <%= render "shared/table/table_data_cell", data: platform_order_item.tag || platform_order_item.platform_container&.tag %>
        <%= render "shared/table/table_data_cell", data: platform_order_item.guid %>
        <td>
          <% if platform_order_item.tag.present? %>
            <%= link_to "Add Lifts", platform_account_customer_tabs_path(@platform_customer, params: { tab: "editor", path: edit_platform_account_customer_order_item_path(@platform_customer.id, platform_order_item), target_frame: "edit_item" } ), data: { turbo_frame: "customer_tabs" }, class: "text-blue-600" %>  
          <% end %>
        </td>
      </tr>
     <% end %>
    </tbody>
  </table>
<% end %>