<div class="border-t border-gray-200 flex-grow w-full  mx-auto lg:flex">
  <!-- Left sidebar & main wrapper -->
  <div class="flex-1 min-w-0 bg-white xl:flex">
    <div class="border-b border-gray-200 xl:border-b-0 xl:flex-shrink-0 lg:w-1/3 2xl:w-1/5 xl:border-r xl:border-gray-200 bg-white">
      <div class="h-full py-6 px-4 sm:px-2 lg:px-4">
        <!-- Start left column area -->
        <div class="h-full relative" style="min-height: 12rem">
          <div class="border-b border-gray-200">
              <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
            <h1 class="text-gray-700 whitespace-nowrap py-4 px-1 font-medium text-lg"> <%= @customer.ar_account_code %> - <%= @customer.name %> </h1>
          </div>
          <div>
            <h3 class="text-gray-700 whitespace-nowrap py-3 px-1 font-bold text-sm">Next Collections</h2>
            <%= render "next_collections", customer: @customer %>
          </div>
          <div>
            <h3 class="text-gray-700 whitespace-nowrap py-3 px-1 font-bold text-sm">Stop Status</h2>
            <%= turbo_frame_tag "customer_dashboard_container_statuses", src: platform_account_customer_stop_lists_path(@customer), loading: "lazy" do %>
            <% end %>
          </div>           
          <div>
            <h3 class="text-gray-700 whitespace-nowrap py-3 px-1 font-bold text-sm">Last 6 Months</h2>
            <%= turbo_frame_tag "customer_dashboard_lift_events", src: platform_account_customer_customer_dashboard_lift_events_path(@customer), loading: "lazy" do %>
            <% end %>
          </div> 
          <div class="py-3 px-1" >
            <%= form_for :platform_customer_fetch, url: platform_customer_fetch_path(1), method: :patch do |f| %>
              <%= f.hidden_field :platform_customer_id, value: @customer.id %>
              <div class="inline">
                <%= f.submit "Refresh", class: "rounded-lg py-1 px-2 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- End left column area -->
      </div>
    </div>
    <div class="bg-white lg:min-w-0 lg:flex-1">
      <div class="h-full py-6 px-4 sm:px-2 lg:px-4">
        <!-- Start main area-->
        <div class="relative h-full" style="min-height: 36rem">
          <div class="absolute inset-0  rounded-lg">
          
            <%= turbo_frame_tag "customer_tabs", src: platform_account_customer_tabs_path(@customer, params: {tab: @tab}) do %>
            <% end %>
          </div>
        </div>
        <!-- End main area -->
      </div>
    </div>
  </div>

</div>