<table class="min-w-full divide-y divide-gray-300">
  <thead class="bg-gray-50">
    <tr>
      <%= render "shared/table/sort_table_header", query: @query, column: "registration_no", current_sort: current_sort %>
      <%= render "shared/table/sort_table_header", query: @query, column: "vehicle_code", current_sort: current_sort %>   
      <%= render "shared/table/sort_table_header", query: @query, column: "guid", current_sort: current_sort %>           

    </tr>
    <tr>
      <%= render "shared/table/search_table_header", form: form, search_field: "registration_no_cont" %>
      <%= render "shared/table/search_table_header", form: form, search_field: "vehicle_code_cont" %>       
      <%= render "shared/table/search_table_header", form: form, search_field: "guid_eq" %>         

    </tr>    
  </thead>

  <tbody class="divide-y divide-gray-200 bg-white">
    <% @platform_vehicles.each do |platform_vehicle| %>
      <%= render "platform_vehicle", platform_vehicle: platform_vehicle %>
    <% end %>
  </tbody>
</table>
