<!DOCTYPE html>
<html class="h-full bg-white">
  <%= render "shared/head" %>

  <body class="h-full">
    <div class="min-h-full">
      <%= render "shared/flash_notice" %>
      <%= render "shared/top_nav" %>
      
      <header class="bg-white shadow-sm">
        <div class="max-w-full mx-auto py-4 px-4 sm:px-6 lg:px-8">
          <% if @title_path %>
            <%= link_to @title, @title_path, class: "text-lg leading-6 font-semibold text-blue-700" %>
          <% else %>
            <h1 class="text-lg leading-6 font-semibold text-gray-900"><%= @title %></h1>
          <% end %>
        </div>
      </header>    


      <main>
        <div class="max-w-full mx-auto">
          <!-- Replace with your content -->
          <div class="px-4 sm:px-0">
            <%= yield %>
          </div>
          <!-- /End replace -->
        </div>
      </main>
      <% debug session%>
    </div>
  </body>
</html>
